@font-face {
  font-family: 'Big John';
  src: local('Big John'), url(./fonts/bigjohn-webfont.woff) format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Big John', sans-serif;
  color: #FE3525;
  background-color: #FFDFE7;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1 {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 24px;
}

input, textarea {
  margin: 5px 0 15px 0;
  height: 30px;
  width: 80%;
  font-style: italic;
  padding-left: 5px;
  color: #f7f7f7;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}

.home {
  display: inline-block;
  width: 20%;
  padding: 16px 24px 16px 24px;
  background-color: #F6A623;
  border: 3px #F6A623 solid;
  margin: 10px 10px 10px 0;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  font-family: 'Big John', sans-serif;
}

.admin {
  display: inline-block;
  width: 20%;
  padding: 16px 24px 16px 24px;
  background: #001ED2;
  border: 3px #001ED2 solid;
  margin: 10px 10px 10px 0;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  font-family: 'Big John', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.home:hover {
  background-color: #e3a53e;
  border: 3px #e3a53e solid;
}

.admin:hover {
  background-color: #e3a53e;
  border: 3px #e3a53e solid;
}

p {
  margin: 5px 0 5px 0;
}

.content {
  font-family: sans-serif;
  font-size: 14px;
  color: #000;
}

.content-container {
  margin-left: 40px;
}

.userName {
  font-family: sans-serif;
  font-size: 12px;
  color: #000;
  font-style: italic;
}

.category {
  font-family: sans-serif;
  font-size: 12px;
  color: #000;
  font-style: italic;
}

.date {
  font-family: sans-serif;
  font-size: 10px;
  color: #696969;
  font-style: italic;
}

.topic {
  margin-bottom: 30px;
}

.comment-form {
  background: #fff8f8;
  padding: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
}
